<div class="col-md-12">
  <h2 class="text-center">我加入的討論版</h2>
  <table class="table">
    <th>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Post Count</td>
        <td>Last Update</td>
        <td colspan="2"></td> 
      </tr>
    </th>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to group.title, group_path(group) %></td>
          <td><%= render_group_description(group) %></td>
          <td><%= group.posts.count %></td>
          <td><%= group.updated_at %></td>
          <td><%= link_to "Edit", edit_group_path(group), class: "btn btn-default btn-xs" %></td>
          <td><%= link_to "Delete", group_path(group), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %></td>
        </tr>
    </tbody>
    <% end %>
  </table>
</div>